<p id="notice"><%= notice %></p>

<h1>Surveys</h1>
  <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
          Pick a survey!
        </button>
      <% @survey.each do |survey| %>

        <%= button_to survey.title, survey_path(survey), method: :get, class: "list-group-item list-group-item-action" %>

      <% end %>
    </div>